<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fklingler.alfred.boom</string>
	<key>connections</key>
	<dict>
		<key>2FBCF8D0-54B8-4DC1-8481-3BC7C7869BA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>529E2851-86FC-4914-8D4F-FAA28C22D4CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>47EAC2DE-3433-4634-843C-619E408F6012</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Directly open Pastie in browser</string>
			</dict>
		</array>
		<key>47EAC2DE-3433-4634-843C-619E408F6012</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B2C8C75-B5DE-4109-9D18-5ABFA15B5B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35BA929E-3104-4F21-B423-8CCE23341A95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>529E2851-86FC-4914-8D4F-FAA28C22D4CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77A750C0-2481-4E48-9533-C56B69BC30D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B2C8C75-B5DE-4109-9D18-5ABFA15B5B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>François Klingler</string>
	<key>description</key>
	<string>Create Pastie (http://www.pastie.org) from clipboard content</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pastie</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>The Pastie URL is in your clipboard</string>
				<key>title</key>
				<string>Pastie created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>77A750C0-2481-4E48-9533-C56B69BC30D1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./pastie.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>529E2851-86FC-4914-8D4F-FAA28C22D4CB</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7B2C8C75-B5DE-4109-9D18-5ABFA15B5B64</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>pastie</string>
				<key>subtext</key>
				<string>Language : {query}</string>
				<key>text</key>
				<string>Create a Pastie from clipboard content</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2FBCF8D0-54B8-4DC1-8481-3BC7C7869BA5</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./pastie.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>47EAC2DE-3433-4634-843C-619E408F6012</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>open {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>35BA929E-3104-4F21-B423-8CCE23341A95</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2FBCF8D0-54B8-4DC1-8481-3BC7C7869BA5</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>35BA929E-3104-4F21-B423-8CCE23341A95</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>47EAC2DE-3433-4634-843C-619E408F6012</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>529E2851-86FC-4914-8D4F-FAA28C22D4CB</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>77A750C0-2481-4E48-9533-C56B69BC30D1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7B2C8C75-B5DE-4109-9D18-5ABFA15B5B64</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fklingler/alfred-pastie</string>
</dict>
</plist>
